rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
  
    match /userInfo/{document=**} {
   		allow read, write;
    }

    match /users/{document=**} {
    	allow read, write;
    }

    match /queries/{document=**} {
      allow read: if isAuthenticated();
      allow create: if isAuthenticated() && request.auth.uid == request.resource.data.id;
      allow update, delete: if isAuthenticated() && request.auth.uid == resource.data.id;
    }

    match /queries/{queriesId}/answers/{document=**} {
      allow read: if isAuthenticated();
      allow create: if isAuthenticated() && request.auth.uid == request.resource.data.id;
      allow update, delete: if isAuthenticated();
    }

     function isAuthenticated() {
      return request.auth != null;
    }
    
  }
}